.chat-window {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }

 

  .user {
    text-align: right;
    margin-bottom: 5px;
  }

 

  .bot {
    text-align: left;
    margin-bottom: 5px;
  }

 

  .message-bubble {
    display: inline-block;
    padding: 5px 10px;
    background-color: #6bffd5;
    border-radius: 8px;
    word-wrap: break-word;
  }

 

  .input-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }